{% extends "layout/default.html" %}

{% block main_content %}
	{% if story %}	
		<article>
			<h1>{{ story.title }}</h1>
			<div class="story-body">
				{{ story.body }}
			</div>
		</article>
	{% else %}
		<p>Story not available.</p>
	{% endif %}
	
{% endblock %}