{% extends "layout/default.html" %}

{% block main_content %}

	{% if latest_stories_list %}
		{% for story in latest_stories_list %}
		<div class="blog-post">
			<a href="/story/{{ story.id }}"><h2 class="blog-post-title">{{ story.title }}</h2></a>
			<p class="blog-post-meta">{{ story.creation_date }} by <a href="#">{{ story.author.first_name }} {{ story.author.last_name }}</a></p>

			<p>{{ story.teaser }}... <a href="/story/{{ story.id }}">read more</a></p>
		</div><!-- /.blog-post -->
		{% endfor %}
		
	{% else %}
		<p>No stories are available.</p>
	{% endif %}
	
{% endblock %}