{% extends "layout/default.html" %}

{% block main_content %}
    {% if session.logged_in %}
        <form action="{{ url_for('add_story') }}" method="post" class="add-story">
          <dl>
            <dt>Title:
            <dd><input type="text" size="30" name="title">
            <dt>Text:
            <dd><textarea name="text" rows="5" cols="40"></textarea>
            <dd><input type="submit" value="Share">
          </dl>
        </form>
    {% endif %}

	{% if stories %}
		{% for story in stories %}
		<div class="blog-post">
			<a href="/story/{{ story.id }}"><h2 class="blog-post-title">{{ story.title }}</h2></a>
			<p class="blog-post-meta">{{ story.creation_date }} by <a href="#">{{ story.author.first_name }} {{ story.author.last_name }}</a></p>

			<p>{{ story.body[:150]|safe }}... <a href="/story/{{ story.id }}">read more</a>
            </p>
		</div><!-- /.blog-post -->
		{% endfor %}
		
	{% else %}
		<p>No stories are available.</p>
	{% endif %}
	
{% endblock %}