{% extends "layout/default.html" %}

{% block main_content %}

	{% if story %}
		<div class="blog-post">
			<a href="/story/{{ story.id }}"><h2 class="blog-post-title">{{ story.title }}</h2></a>
			<p class="blog-post-meta">{{ story.creation_date }} by <a href="#">{{ story.author.first_name }} {{ story.author.last_name }}</a></p>

			<p>{{ story.body|safe }} <!-- ... <a href="/story/{{ story.id }}">read more</a>-->
            {% if loggedInUser and loggedInUser.role == 'admin' %}<a href="/delete/{{ story.id }}">delete</a>{% endif %}</p>
		</div><!-- /.blog-post -->
		
	{% else %}
		<p>Story not available.</p>
	{% endif %}
	
{% endblock %}