{% include "layout/header.html" %}
	<div class="blog-masthead">
      <div class="container">
        <nav class="blog-nav">
          <a class="blog-nav-item {% if '/' == request.url_rule.rule %}active{% endif %}" href="/">Home</a> 
		  {% if not session.logged_in %}
		  <a class="blog-nav-item {% if 'login' in request.url_rule.rule %}active{% endif %}" href="/login">login</a>
		  {% else %}
		  <a class="blog-nav-item {% if 'logout' in request.url_rule.rule %}active{% endif %}" href="/logout">logout</a>
		  {% endif %}
          <a class="blog-nav-item" href="#">About</a>
        </nav>
      </div>
    </div>
	
	<div class="container">

      <div class="blog-header">
        <h1 class="blog-title">Stories</h1>
        <p class="lead blog-description">Stories demo project</p>
      </div>

      <div class="row">

        <div class="col-sm-8 blog-main">
			{% block main_content %}
			{% endblock %}
        </div><!-- /.blog-main -->

        <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
          <div class="sidebar-module sidebar-module-inset">
            <h4>About</h4>
            <p>Etiam porta <em>sem malesuada magna</em> mollis euismod. Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur.</p>
          </div>

          <div class="sidebar-module">
            <h4>Meta</h4>
            <ol class="list-unstyled">
              {% if not session.logged_in %}
			  <a href="/login">login</a>
			  {% else %}

			  <a href="/logout">logout</a>
			  {% endif %}
            </ol>
          </div>
        </div><!-- /.blog-sidebar -->

      </div><!-- /.row -->

    </div><!-- /.container -->

{% include "layout/footer.html" %}